.img-header {
	background: url("../../assets/wallpaperflare-cropped.jfif");
	background-size: cover;
	height: 60vh;
}

@media (max-width: 500px) {
	.img-header {
		background: url("../../assets/wallpaperflare-cropped\ \(2\).jfif");
		background-size: cover;
		height: 40vh;
	}
}
